/*==================== Login Page ====================*/

.bodylogin
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



/*====================Register Page ====================*/

.bodyregister
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== Logout Page ====================*/

.bodylogout
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/*==================== User Dashboard Page ====================*/

.bodyuserdashboard
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== Approver Dashboard Page ====================*/

.bodyapproverdashboard
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== Admin Dashboard Page ====================*/

.bodyadmindashboard
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== Request Consent Page ====================*/

.bodyrequestconsent
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== View My Consents Page ====================*/

.bodyviewmyconsents
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== View My Pending Page ====================*/

.bodypendingconsent
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== Consent Details Page ====================*/
.bodyconsentdetails
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== Approve Consent Page ====================*/

.bodyapproveconsent
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== Reject Consent Page ====================*/

.bodyrejectconsent
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== Verify Consent Page ====================*/

.bodyverifyconsent
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== Report Page ====================*/

.bodyreport
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/*==================== History Consent Page ====================*/

.bodyhistoryconsentdashboard
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



/*==================== Success Page ====================*/

.bodysuccess
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== Error Page ====================*/

.bodyerror
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== View Users Page ====================*/

.bodyviewusers
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*==================== View Users Page ====================*/

.bodyviewapprover
{
    background-image: url(../images/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



